<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <a href="{{ '/' | url }}" class="page-header__logo" title="Go home">
            <div class="image-cropper">
                <img src="{{ '/assets/avatar.png' | url }}" alt="" width="48">
            </div>
        </a>

        <nav>
            <a href="{{ '/' | url }}">Home</a>
            <a href="{{ '/about' | url }}">About Me</a>
            <a href="{{ '/notes' | url }}">Notes</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>